body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #FFFFCC;
}

html, body {
    height: 100%;
    margin: 0px !important;
}

/*
#header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #777;
    z-index: 1;
}

#content {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffcc;
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

#footer {
    background-color: #777;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    z-index: 1;
}*/
